.learnContainer {
    margin-bottom: 204px;
    color: white;
    padding-top: 156px;
}

.learnHeading {
    margin-bottom: 24px;
    display: flex;

    h4 {
        font-size: 90px;
        margin-right: 33px;
    }

    img {
        width: 109px;
        height: 109px;
    }
}

.learnProtectText {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 71px;
}

.learnMainInfoAndImg {
    position: relative;
    background: #262732;
    border-radius: 20px;
}


.learnContent {
    display: flex;
    padding-top: 80px;
    height: 615px;
}

.learnContentMobileAdaptiv {
    display: block;
}


.learnBtnsAndFAQ {
    margin-right: 110px;
    p {
        position: relative;
        bottom: 0;
        padding-left: 46px;
        font-size: 15px;
        font-weight: 500;

        a {
            text-decoration: none;
            color: #0066FF;
        }
    }

    .learnBtnsContainer {
        margin-bottom: 200px;
    }
}

.learnInfo {
    h5 {
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 26px;
    }

    p {
        width: 333px;
        margin-bottom: 36px;
        font-size: 20px;
        font-weight: 600;
        line-height: 30px;
    }
}

.learnImg {
    height: 0;

    img {
        position: absolute;
        right: 0;
        bottom: 0;
        height: 615px;
    }
}
@media screen and (max-width: 1025px) {
    .learnContainer {
        margin-bottom: 80px;
        padding-top: 80px;
    }
    .learnMainInfoAndImg {
        width: 100%;
        margin: 0 auto;
    }
    
    .learnHeading {
        margin-bottom: 10px;

        h4 {
            font-size: 42px;
            margin-right: 16px;
        }

        img {
            width: 50px;
            height: 50px;
        }
    }

    .learnProtectText {
        width: 320px;
        font-size: 16px;
        margin-bottom: 43px;
    }

    .learnContent {
        padding-top: 47px;
        height: 363px;
    }

    .learnBtnsAndFAQ {
        margin-right: 8%;
        p {
            // height: 59px;
            padding-left: 20px;
            font-size: 8px;
        }
    
        .learnBtnsContainer {
            margin-bottom: 133px;
        }
        
    }
    .learnInfo {
        
        h5 {
            font-size: 20px;
            margin-bottom: 16px;
        }
    
        p {
            width: 40%;
            margin-bottom: 12px;
            font-size: 12px;
            line-height: 16px;
            margin-right: 20px;
        }
    }

    .learnImg {
        img {
            height: 320px;
        }
    }
}
@media screen and (max-width: 769px) {
    .learnContainer {
        margin-bottom: 105px;
        padding-top: 105px;
    }
    
}

@media screen and (max-width: 480px) {
    .learnHeading {
        h4 {
            font-size: 34px;
            margin-right: 10px;
        }
    }

    .learnProtectText {
        margin-bottom: 35px;
    }

    .learnBtnsAndFAQ {
        margin-right: 0;
        p {
            height: 59px;
            padding-left: 46px;
            font-size: 15px;
            font-weight: 500;
    
            a {
                text-decoration: none;
                color: #0066FF;
            }
        }
    
        .learnBtnsContainer {
            display: flex;
            margin-bottom: 24px;
            margin-right: 0px;
        }
        
    }
    .learnInfo {
        padding-left: 18px;
        padding-right: 18px;
        h5 {
            font-size: 26px;
            margin-bottom: 16px;
        }
    
        p {
            width: 100%;
            padding-bottom: 16px;
            margin-bottom: 0;
            font-size: 16px;
            line-height: 30px;
        }
    }
    .learnImg {    
        img {
            display: block;
            width: 282px;
            height: 294px;
            margin: 0 auto;
            left: 0;
        }
    }
}