.logo {
    display: flex;
    align-self: center;
    background: transparent;
    position: absolute;
    cursor: pointer;
    img{
        width: 122px;
        height: 65px;
    }

}
@media screen and (max-width: 1025px) {
    .logo {
        img {
            height: 60px;
        }
    }
}
@media screen and (max-width: 480px) {
    .logo {
        img {
            width: 80px;
            height: 40px;
        }
    }
}