@font-face {
  font-family: 'Inter';
  font-weight: 500;
  src: url('/public/fonts/Inter_18pt-Medium.ttf') format('ttf'),
}

@font-face {
  font-family: 'Inter';
  font-weight: 600;
  src: url('/public/fonts/Inter_18pt-SemiBold.ttf') format('ttf'),
}

@font-face {
  font-family: 'Inter';
  font-weight: 700;
  src: url('/public/fonts/Inter_18pt-Bold.ttf') format('ttf'),
}

@font-face {
  font-family: 'Inter';
  font-weight: 800;
  src: url('/public/fonts/Inter_18pt-ExtraBold.ttf') format('ttf'),
}

@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  src: url('/public/fonts/Roboto-Bold.ttf') format('ttf');
}


* {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
}

@media screen and (max-width: 480px){
  #root {
    overflow-x: hidden;
  }
}
@media screen and (max-width: 1025px){
  #root {
    overflow-x: hidden;
  }
}
